
.speaking {
    margin-bottom: $base-spacing-unit;
}

.speaking__topic {
    margin-bottom: 0;
}
.speaking__time {
    color: $dark-sea-green;
}

.speaking__body {
    margin-bottom: $base-spacing-unit;
}
