
// this is the default margin spacing, gutter width, etc
// most measurements should be a fraction or multiple of this, eg 1/2, 2x, etc
$base-spacing-unit: 24px;

$border-radius-base:  3px;
$border-radius-large: 6px;


$desktop-width: 960px;

// breakpoints

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;

