
$white:          #ffffff;
$pine-green:     #092e20;
$greenish-teal:  #38c992;
$dark-sea-green: #17835a;
$light-sage:     #c9f0dd;
$ice:            #f5fffa;
$black:          #000000;

// roles
$brand-primary: $dark-sea-green;
$brand-secondary: $greenish-teal;

$text-primary: $pine-green;
