
$white:          #ffffff;
$ice:            #f8fffa;
$light-sage:     #d4eede;
$greenish-teal:  #77c591;
$dark-sea-green: #6eb487;
$pine-green:     #182d20;
$forest-green:   #49815a;
$black:          #000000;

// roles
$brand-primary: $dark-sea-green;
$brand-secondary: $greenish-teal;

$text-primary: $pine-green;
