
$white:              #ffffff;
$ice:                #f5fffa;
$light-sage:         #c9f0dd;
$greenish-teal:      #38c992;
$greenish-teal-dark: #37b786;
$dark-sea-green:     #17835a;
$pine-green:         #092e20;
$black:              #000000;

// roles
$brand-primary: $dark-sea-green;
$brand-secondary: $greenish-teal;

$text-primary: $pine-green;
